.main-section {
    background-color: #E4BAD4;
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: 10px solid #4C4C4C;
}

.main-section .main-title {
    margin-bottom: 60px;
}

.main-section.-projects {
    border-color: #4C4C4C;
    background-color: #000;
}

.main-section.-borderBlack {
    border-color: #000;
}